:root {
    scroll-behavior: smooth;
    --main-background-color: black;
}

.footer {
    background-color: teal;
    height: 10vh;
    color: var(--main-background-color);
    scroll-snap-align: end;
}