:root {
    scroll-behavior: smooth;
    --main-background-color: black;
}

.space {
    position: relative;
    margin: 0;
}

canvas {
    display: block;
    background-color: black;
    width: 100vw;
    z-index: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.Title-Text {
    position: absolute; /* Changed from fixed to absolute */
    top: 50%; /* Center vertically in the space section */
    left: 50%; /* Center horizontally in the space section */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center the element */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0vh; /* Ensure the font size is visible */
    transition: font-size 5s ease-in-out;

}

.Links {
    position: absolute; /* Changed from fixed to absolute */
    top: 57%; /* Center vertically in the space section */
    left: 50%; /* Center horizontally in the space section */
    transform: translate(-50%, 100%); /* Adjusts the position to truly center the element */
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0vh; /* Ensure the font size is visible */
    transition: font-size 5s ease-in-out;

}

.text-visible {
    font-size: 3.5vmin; /* Final visible font size */
    opacity: 1;
}

.wobble {
    animation:wobble 10s ease-in-out infinite alternate;
}

@keyframes wobble {
    33% {
      transform: rotate(3deg);
    }
    66% {
      transform: rotate(-3deg);
    }
}

.scroll-container {

    position: absolute; /* Changed from fixed to absolute */
    bottom: 5%; /* Center vertically in the space section */
    left: 50%; /* Center horizontally in the space section */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center the element */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    opacity: 0;
    font-size: 3vmin;
    transition: opacity 5s ease-in-out;


}

.text-visible-2 {
    opacity: 1;
}

.scroll-container i {
    color: white;
    z-index: 3;
}

.space a:hover {
    cursor: url(/images/hand-cursor.png), pointer;
}



.fa-brands {
    transition: all 1s ease;
    font-size: 3rem;
}

.fa-brands:hover {
    font-size: 5rem;
    transition: glow 1s ease-in-out;
    transition: font-size 0.5s ease-in-out;

    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;

}

@media (max-width: 600px) {
    .fa-brands {
        font-size: 3rem;
    }

    .fa-brands:hover {
        font-size: 4rem;
    }

}

.fa-angles-down {
    transition: all 1s ease;
}

.fa-angles-down:hover {
    transition: 3s ease-in-out;
    box-shadow: #0ff;

    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {

    from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    }
    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    }

}