:root {
    /*scroll-behavior: smooth;*/
    --main-background-color: black;
}

* {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh; /* Height is crucial for scrolling */
}

body {
    background-color: var(--main-background-color);
    cursor: url(/images/cursor.png), pointer;

}

.heading {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-container {
    width: 100%;
    height: 15px;
    background: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 99;
}

.progress-bar {
    height: 15px;
    background: white;
    width: 0%;
    position: absolute;
    left: 50%; /* Position the start of the bar in the middle */
    transform: translateX(-50%); /* Center the bar on its left edge at the middle */
}

.main-sections {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.main-sections.show {
    opacity: 1;
}


.testing {
    /*
    scroll-snap-align: start;
    scroll-snap-stop: normal; */

}

::-webkit-scrollbar {
    display: none;
}