:root {
    scroll-behavior: smooth;
    --main-background-color: black;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: var(--main-background-color);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Ensures no scroll bar on the body */
    scroll-behavior: smooth;
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh; /* Height is crucial for scrolling */
    overflow-y: scroll; /* Enables vertical scrolling */
}


section {
    scroll-snap-align: start;
    height: 100vh; /* Each section fills the screen */
    overflow: hidden;
    scroll-snap-stop: always;

}


canvas {
    display: block;
    background-color: black;
    width: 100vw;
    z-index: 0;
    height: 100vh;
}

.Title-Text {
    position: absolute; /* Changed from fixed to absolute */
    top: 50%; /* Center vertically in the space section */
    left: 50%; /* Center horizontally in the space section */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center the element */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0vh; /* Ensure the font size is visible */
    transition: font-size 5s ease-in-out;

}



.text-visible {
    font-size: 3.5vmin; /* Final visible font size */
    opacity: 1;
}

.space {
    position: relative;
}

.resume {
    background-color: black;
}

.about {
    background-color: aqua;
}

::-webkit-scrollbar {
    display: none;
}