@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 75px #ff00ff;
    }
    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff, 0 0 100px #ff00ff;
    }
}

.glow {
    animation: glow 1s infinite alternate;
}

.icon {
    transition: transform 0.5s, color 0.5s;
}

.icon:hover {
    transform: scale(1.5);
    animation: glow 1s infinite alternate;
}