.img-me {
    height: 30vw;
    width: 30vw;
    min-height: 200px;
    min-width: 200px;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
    border: 3px solid #333;
    margin: 15px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .img-me {
        width: 300px;
        height: 300px;
    }
}

.img-main {
    border: 3px solid #333;
    border-radius: 12px;
}